<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
</head>
<body>
  <div class="logo">
    <img src="/images/logo.png" class="logo_pic">
    <p>QR Generator</p>
  </div>

  <div class="card">
    <form class="box" action="/" method="post">
      <input type="text" name="link" placeholder="Enter URL">
      <button type="submit">Generate</button>
    </form>
  </div>
  
  <script src="index.js"></script>
</body>
</html>